google-generativeai
gTTS
sentence-transformers
scikit-learn
chromadb
playwright
streamlit
google==3.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.12.0
google-api-python-client==2.106.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.2.0
google-cloud-core==2.3.3
google-cloud-firestore==2.13.1
google-cloud-speech==2.29.0
google-cloud-storage==2.13.0
google-cloud-texttospeech==2.13.0
google-crc32c==1.5.0
google-genai
google-generativeai==0.8.3
google-pasta==0.2.0
google-resumable-media==2.6.0
googleapis-common-protos==1.70.0

